{% extends 'home/base.html' %}

{% block title %}
    Blog Home
{% endblock %}

{% block blogactive %} active {% endblock %}

{% block body %}

<div class="container">
    {% for post in allPosts %}
    <div class="card my-3">  <!-- Added margin for better spacing between cards -->
        <div class="card-body">
            <h5 class="card-title">Composed by - {{ post.author }}</h5>
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.content | truncatechars:100 }}</p>
            <a href="{{ post.slug }}" class="btn btn-primary">Read More</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
